extends ../layout

block content
    .container
        .row
            .col-sm-5
                .page-header
                    form(method="POST", action="/user/signup")
                        .modal-body
                            .form-group
                                label(for="signinName") 用户名
                                input#signinName.form-control(name="user[name]", type="text", autocomplete="off")
                            .form-group
                                label(for="nikeName") 昵称
                                input#nikeName.form-control(name="user[nikename]", type="text", autocomplete="off")
                            .form-group
                                label(for="signinPassword") 密码
                                input#signinPassword.form-control(name="user[password]", type="password", autocomplete="off")
                            .modal-footer
                                button.btn.btn-success(type="submit") 注册
